{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block ptitle %} All Customers {% endblock %}
{% block main %}
<div class="container">
    {% if msg %}
    <div class="alert alert-success text-center font-weight-bold">
        {{msg}}
    </div>
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cust Id</th>
                <th>Customer Name</th>
                <th>City</th>
                <th>Gender</th>
                <th>Email ID</th>
            </tr>
        </thead>
        <tbody>            
            {% for c in all %}
            <tr>
            <td>{{c.id}}</td>
            <td>{{c.cname}}</td>
            <td>{{c.city}}</td>
            <td>{{c.gender}}</td>
            <td>{{c.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}